<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmelden</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme:{
                fontFamily:{
                    sans:['Arial']
                }
            }
        }
    </script>
    <style>
        #error-message {
            display: none;
        }
    </style>
</head>
<body class="bg-gray-100 text-gray-900 flex items-center justify-center h-screen">

    <div id="login-page" class="bg-white p-12 rounded-lg shadow-lg w-full max-w-md mx-auto">
        <h2 class="text-3xl font-semibold mb-6 text-center">Anmelden</h2>
        <form id="login-form" onsubmit="event.preventDefault(); handleLogin();">
            <div class="mb-6">
                <label class="block text-lg font-medium mb-2" for="token">Token</label>
                <input class="w-full p-4 border rounded-lg text-lg" type="text" id="token" placeholder="Enter your token">
            </div>
            <div id="error-message" class="text-red-500 mb-6 text-center">Invalid token.</div>
            <button class="bg-blue-600 text-white px-6 py-3 rounded-lg w-full text-lg hover:bg-blue-700" type="submit">Anmelden</button>
        </form>
    </div>

    <script>
        function handleLogin() {
            const token = document.getElementById('token').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ token: token }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    localStorage.setItem('user_id', data.user_id);
                    window.location.href = '/LandingPage';
                } else {
                    document.getElementById('Login unsuccessful').style.display = 'block';
                }
            });
        }
    </script>

</body>
</html>
