<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
    <script>
        tailwind.config = {
            theme:{
                fontFamily:{
                    sans: ['Arial']
                }
            }
        }
    </script>

</head>

<body>
    <div class="flex min-h-screen bg-gray-100">
      <!-- sidebar -->
        <div class=" flex-none sidebar min-h-screen w-[3.35rem] overflow-hidden border-r hover:w-56 hover:bg-white hover:shadow-lg">
          <div class="flex h-screen flex-col justify-between pt-2 pb-6">
            <div>
              <ul class="space-y-2 tracking-wide">
                <li class="min-w-max">
                  <a href="/ExtendedDashboard" aria-label="dashboard" class="group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600">
                    <svg class="-ml-1 h-6 w-6" viewBox="0 0 24 24" fill="none">
                      <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-gray-600 group-hover:text-sky-600"></path>
                      <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-gray-600 group-hover:text-sky-300"></path>
                      <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current text-gray-600 group-hover:text-sky-300"></path>
                    </svg>
                    <span class="-mr-1 font-medium">Dashboard</span>
                  </a>
                </li>
                <li class="min-w-max">
                  <a href="/CreateTest" class="relative flex items-center space-x-4 bg-gradient-to-r from-indigo-600 to-sky-400 px-4 py-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 512 512" fill="currentColor">
                      <path class="fill-current text-gray-600 group-hover:text-cyan-600" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
                    <span class="group-hover:text-gray-700">Create Test</span>
                  </a>
                </li>
              </ul>
            </div> 
          </div>
        </div>
    </div>