<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme:{
                fontFamily:{
                    sans: ['Arial']
                }
            }
        }
    </script>
    <script src="/static/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="/static/timed_keyselects.js" type="text/javascript"></script>
</head>
<body>
    <div id="container" class="flex items-center justify-center h-screen">
        <div id="startingSection" class="px-64 text-center">
            <p>Im folgenden Test sehen Sie verschiedene Schlüssel mit unterschiedlicher Anzahl
                an Zähnen. Wählen Sie alle Felder an, die die gleiche Anzahl haben.
                Der Test ist zeitlich beschränkt. Nach abgelaufener Zeit werden automatisch neue Felder
                geladen. Der Test beendet sich automatisch. Klicken Sie auf 'Start', um zu beginnen.
            </p>
            <button onclick="start_test()"
                    class="m-4 px-4 py-1 bg-gray-200 border border-gray-400 rounded-md">
                Start
            </button>
        </div>

        <div id="timerPanel" class="fixed top-0 right-0 bg-yellow-300">
            <p id="timer" class="px-4 py-1 text-lg font-bold"></p>
        </div>

        <div id="gridPanel" hidden>
            <p class="text-center">
                Wählen Sie alle Schlüssel mit <strong><span id="teeth"></span> Zähnen</strong> aus.
            </p>
            <div class="grid grid-rows-6 grid-cols-9 scale-90">
                {% for i in range(6*9) %}
                    <img id="{{ i }}" class="p-1" data-teeth="">
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>