<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Done</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme:{
                fontFamily:{
                    sans: ['Arial']
                }
            }
        }
    </script>
</head>
<body>
    <div id="container" class="flex items-center justify-center h-screen">
        <div id="startingSection" class="px-64 text-center">
            <p>Sie haben das Modul erfolgreich abgeschlossen. Klicken Sie unten, um zurückzukehren.</p>
            <!-- TODO: redirect to overview page -->
            <button onclick="location.href='about:blank'"
                    class="m-4 px-4 py-1 bg-gray-200 border border-gray-400 rounded-md">
                Zurück zur Übersicht
            </button>
        </div>
    </div>
</body>
</html>
